<div id="<%= dom_id metric %>">
  <p>
    <strong>Name:</strong>
    <%= metric.name %>
  </p>

  <p>
    <strong>Data type:</strong>
    <%= metric.data_type %>
  </p>

  <p>
    <strong>Example:</strong>
    <%= metric.example %>
  </p>

  <p>
    <strong>Role min level:</strong>
    <%= metric.role_min_level %>
  </p>

</div>
