<div id="<%= dom_id role %>">
  <p>
    <strong>Public name:</strong>
    <%= role.public_name %>
  </p>

  <p>
    <strong>Internal name:</strong>
    <%= role.internal_name %>
  </p>

  <p>
    <strong>Acronym:</strong>
    <%= role.acronym %>
  </p>

  <p>
    <strong>Level:</strong>
    <%= role.level %>
  </p>

</div>
