<div id="<%= dom_id person %>">
  <p>
    <strong>Surname:</strong>
    <%= person.surname %>
  </p>

  <p>
    <strong>Forenames:</strong>
    <%= person.forenames %>
  </p>

  <p>
    <strong>Pronouns:</strong>
    <%= person.pronouns %>
  </p>

  <p>
    <strong>Role:</strong>
    <%= person.role_id %>
  </p>

  <p>
    <strong>Hired at:</strong>
    <%= person.hired_at %>
  </p>

  <p>
    <strong>Terminated at:</strong>
    <%= person.terminated_at %>
  </p>

</div>
