<%= form_with(model: okr_key_result) do |form| %>
  <% if okr_key_result.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(okr_key_result.errors.count, "error") %> prohibited this okr_key_result from being saved:</h2>

      <ul>
        <% okr_key_result.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :okr_id, style: "display: block" %>
    <%= form.text_field :okr_id %>
  </div>

  <div>
    <%= form.label :metric_id, style: "display: block" %>
    <%= form.text_field :metric_id %>
  </div>

  <div>
    <%= form.label :expected, style: "display: block" %>
    <%= form.text_field :expected %>
  </div>

  <div>
    <%= form.label :actual, style: "display: block" %>
    <%= form.text_field :actual %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
