<div id="<%= dom_id okr_key_result %>">
  <p>
    <strong>Okr:</strong>
    <%= okr_key_result.okr_id %>
  </p>

  <p>
    <strong>Metric:</strong>
    <%= okr_key_result.metric_id %>
  </p>

  <p>
    <strong>Expected:</strong>
    <%= okr_key_result.expected %>
  </p>

  <p>
    <strong>Actual:</strong>
    <%= okr_key_result.actual %>
  </p>

</div>
