<%= form_with(model: okr) do |form| %>
  <% if okr.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(okr.errors.count, "error") %> prohibited this okr from being saved:</h2>

      <ul>
        <% okr.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :parent_id, style: "display: block" %>
    <%= form.select :parent_id, @parents.map{ |p| ["[OKR #{p.hierarchical_sequence}] #{p.objective}"] }, {include_blank: nil}, {required: false} %>
  </div>

  <div>
    <%= form.label :objective, style: "display: block" %>
    <%= form.text_field :objective %>
  </div>

  <div>
    <%= form.label :allocation, style: "display: block" %>
    <%= form.number_field :allocation %>
  </div>

  <div>
    <%= form.label :allocation_scale_in_days, style: "display: block" %>
    <%= form.number_field :allocation_scale_in_days %>
  </div>

  <div>
    <%= form.label :owner_id, style: "display: block" %>
    <%= form.select :owner_id, @people.map{ |p| ["#{p.surname}, #{p.forenames}", p.id] }, {include_blank: true}, {required: true} %>
  </div>

  <div>
    <%= form.label :state, style: "display: block" %>
    <%= form.select :state, options_for_select(Okr.States.map { |key, value| [key.capitalize, value] }) %>
  </div>

  <div>
    <%= form.label :archived, style: "display: block" %>
    <%= form.check_box :archived %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
