<div id="<%= dom_id okr %>">
  <p>
    <strong>Parent:</strong>
    <%= okr.parent_id %>
  </p>

  <p>
    <strong>Objective:</strong>
    <%= okr.objective %>
  </p>

  <p>
    <strong>Allocation:</strong>
    <%= okr.allocation %>
  </p>

  <p>
    <strong>Allocation scale in days:</strong>
    <%= okr.allocation_scale_in_days %>
  </p>

  <p>
    <strong>Owner:</strong>
    <%= okr.owner_id %>
  </p>

  <p>
    <strong>State:</strong>
    <%= okr.state %>
  </p>

  <p>
    <strong>Archived:</strong>
    <%= okr.archived %>
  </p>

</div>
